@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-inter: "Inter", "sans-serif";
  --font-wix: "Wix Madefor Display", sans-serif;
  --color-violet1: #4b014b;
  --color-mist: #f6c8f6;
  --color-vinegar: #fa881e;
  --color-whitelight: #f6f6f6;
  --color-midnight: #0c0e17;
  --color-daygreen: #24c68226;
  --color-midgreen: #1bb172;
  --color-commonbg: #f6f7f9;
  --color-textsecondary: #363636;
  --color-customgray: #fafafc;
  --color-philippine: #8a8a8a;
  --color-blackolive: #3f3f3f;
  --color-midgray: #505561;
  --color-eerieblack: #191919;
  --color-paragray: #5e646a;
  --color-headingblue: #0d2440;
}

.paragraph-text-style {
  @apply text-[#3B3B3B] font-normal text-sm sm:text-base lg:text-lg leading-[170%] font-inter;
}

.button-sign-up-style {
  @apply group-hover:translate-x-5 transition-all duration-300 ease-in-out;
}

.label-style {
  @apply font-inter font-medium text-base leading-6 text-violet1;
}

.input-style-common {
  @apply outline-none p-4 border-1 rounded-lg w-full border-violet1 font-inter text-sm md:text-base max-w-79;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-mist);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-violet1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-vinegar);
}
