@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-inter: "Inter", "sans-serif";
  --font-wix: "Wix Madefor Display", sans-serif;
  --color-violetprimary: #4b014b;
  --color-mist: #f6c8f6;
  --color-vinegar: #fa881e;
  --color-whitelight: #f6f6f6;
  --color-midnight: #0c0e17;
  --color-daygreen: #24c68226;
  --color-midgreen: #1bb172;
  --color-commonbg: #f6f7f9;
  --color-textsecondary: #363636;
  --color-customgray: #fafafc;
  --color-philippine: #8a8a8a;
  --color-blackolive: #3f3f3f;
  --color-midgray: #505561;
  --color-eerieblack: #191919;
  --color-paragray: #5e646a;
  --color-headingblue: #0d2440;
  --color-hypergray: #3b3b3b;
  --color-eerieblack: #1e1e1e;
  --color-obsidian: #3d3f40;
  --color-sleet: #878a94;
  --color-solitude: #f6f7f9;
  --color-midnightsecondary: #010528;
  --color-salute: #282b35;
}

.paragraph-text-style {
  @apply text-hypergray font-normal text-sm sm:text-base lg:text-lg leading-[170%] font-inter;
}

.button-sign-up-style {
  @apply group-hover:translate-x-5 transition-all duration-300 ease-in-out;
}

.label-style {
  @apply font-inter font-medium text-base leading-6 text-violetprimary;
}

.input-style-common {
  @apply outline-none p-4 border-1 rounded-lg w-full border-violetprimary font-inter text-sm md:text-base max-w-79;
}

.button-style {
  @apply rounded-xl w-full flex items-center transition-all duration-600 ease-in-out text-white z-2 relative bg-transparent justify-center h-12 md:h-[61px] overflow-hidden font-medium text-sm sm:text-base leading-[170%] font-inter;
}

.button-style-div {
  @apply hover:shadow-[0px_0px_20px_5px_#00000026] transition-all duration-300 ease-in-out mx-auto relative bg-vinegar rounded-xl overflow-hidden;
}

.button-style-hover {
  @apply bg-violetprimary z-1 left-1/2 top-1/2 -translate-1/2 w-0 h-0 transition-all duration-500 ease-in-out group-hover:w-81 group-hover:h-16 absolute rounded-xl;
}

.scrolltotop-style {
  @apply right-3 bottom-3 z-10 rounded-full w-12 h-12 bg-vinegar hover:bg-violetprimary transition-all duration-300 ease-in-out fixed items-center justify-center animate-bounce;
}

.link-list-style {
  @apply font-inter font-medium text-sm md:text-base lg:text-lg leading-[150%] relative after:absolute after:content-[""] after:w-0 after:bg-black after:h-[2px] after:rounded-full  hover:after:w-full after:bottom-0 after:left-1/2 after:-translate-x-1/2 after:transition-all after:duration-500 after:ease-in-out;
}

.cards-style-div {
  @apply flex flex-col w-full rounded-2xl hover:bg-commonbg transition-all duration-300 ease-in-out gap-3 p-6 items-start border-1 border-violetprimary/18;
}
.paragraph-gsap-style {
  @apply font-bricolage font-medium text-3xl md:text-4xl xl:text-5xl leading-[132%] tracking-[-0.1%] max-w-310 text-philippine sticky top-10;
}
.button-up-style {
  @apply text-violetprimary mt-4 lg:mt-6 font-inter font-semibold text-base leading-[150%] tracking-[-0.3px] flex items-center;
}

.button-style-secondary {
  @apply rounded-xl w-full flex items-center text-white z-2 relative bg-transparent justify-center h-12 md:h-[61px] overflow-hidden font-medium text-sm sm:text-base leading-[170%] font-inter;
}

.button-style-secondary-hover {
  @apply absolute rounded-full bg-violetprimary z-1 -translate-y-[120%] left-[50%] translate-x-[-50%] w-[600px] h-100 transition-all duration-1000 ease-in-out group-hover:translate-y-[-55%];
}

.input-style-primary {
  @apply rounded-lg w-full border-1 border-violetprimary px-4 py-[17px];
}

.common-style-partition {
  @apply bg-white p-5 border-1 border-solitude rounded-2xl shadow-sm mt-6 flex flex-col items-start justify-center;
}

.whatsmovingbtn {
  @apply border-1 text-xs  transition-all duration-350   text-center rounded-xl py-3;
}

.choosevan-style-div {
  @apply relative overflow-hidden z-1 w-full shadow-sm border-slate-200 border-1 p-3 hover:border-vinegar hover:shadow-md rounded-xl transition-all duration-300 ease-in-out;
}

.check-design-common {
  @apply absolute h-6 w-6 rounded-full border-1 right-3 top-3 border-slate-200 transition-all duration-300 flex items-center justify-center
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-mist);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-violetprimary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-vinegar);
}
