@import "tailwindcss";

@theme {
  --font-figtree: "Figtree", sans-serif;
  --font-outfit: "Outfit", sans-serif;
  --font-bricolage: "Bricolage Grotesque", sans-serif;
  --font-inter: "Inter", "sans-serif";
  --font-wix: "Wix Madefor Display", sans-serif;
  --color-violet1: #4b014b;
  --color-mist: #f6c8f6;
  --color-vinegar: #fa881e;
  --color-whitelight: #f6f6f6;
  --color-midnight: #0c0e17;
  --color-daygreen: #24c68226;
  --color-midgreen: #1bb172;
  --color-commonbg: #f6f7f9;
  --color-textsecondary: #363636;
}

.paragraph-text-style {
  @apply text-[#3B3B3B] font-normal text-sm sm:text-base lg:text-lg leading-[170%] font-inter;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--color-mist);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-violet1);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-vinegar);
}
